body {
  font : 1em roboto;
  color : #000000;
  background-color : #ebebeb;
  text-align : left;
  margin : 0;
}

header h1 {
  text-align: center;
  font-size: 1.5rem;
  border-top: 3px solid black;
  border-bottom: 3  px solid black;
  margin-bottom: 1rem;
}

.liste_abonnement {
  margin-bottom: 3rem;
}

.div_basDeFenetre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 2px gray;
}

.totalAdhésion {
  width: 49%;
}

.selectionThème {
  width: 49%;
}

.checkBoxDiv {
  display: flex;
}

.interieurBoite {
  display: flex;
  justify-content: space-between;
}

label {
  margin-top : 0.5em;
  font-size : 0.9em;
  text-align : right;
  margin-right : 5px;
}

input {
  height : 1.5em;
  border : 1px solid #5b5b5b;
  color : #000000;
  font : inherit;
  font-size : 1em;
  text-align : left;
  margin-right : 5px;
  padding-top : 0.2em;
}

select {
  border : solid 1px #00b0ff;
  margin : 0;
  padding-left : 15px;
  color : #000000;
  cursor : pointer;
  font-size : 1.1em;
}

select option:hover {
  background-color : #00b0ff;
}

.div_edt_identification {
  margin-left: 1.5%;
}

.div_edt_identification div {
  width: 13rem;
}

.div_textarea_commentaire {
  margin-left: 6.5%;
}

.labeltitre {
  color : #ffffff;
  background-color : #5b5b5b;
  font-weight : bold;
  padding-top : 0.4em;
  width : 175%;
}

.labelerreur {
  text-align : left;
  font-size : 0.9em;
  color : #ff0000;
  font-style : italic;
  margin-left : 9%;
}

.divtitre {
  background-color : #5b5b5b;
  color : #ffffff;
  height : 30px;
  padding-top : 5px;
  display: flex;
  gap: 5px;
}

.divaction {
  margin : 5px;
  float : right;
}

input[type=button] {
  cursor : pointer;
  font-size : 1.2em;
  border : none;
  background-color : #00b0ff;
  color : #000000;
}

input[type=button]:hover {
  background-color : #0000ff;
  color : #ffffff;
}

input[type=button].btnalerte {
  background-color : #ff7000;
}

input[type=button].btnalerte:hover {
  background-color : #ff0000;
  color : #ffffff;
}

input[type=button].btninfo {
  background-color : #00ff00;
}

input[type=button].btninfo:hover {
  background-color : #00D000;
  color : #ffffff;
}

input[type=button].btnchoix {
  color : #000000 ;
  background-color : #ebebeb;
  width : 100%;
  text-align : center;
}

input[type=button].btnchoix:hover, input[type=button].btnchoixselection {
  background-color : #5b5b5b;
  color : #ffffff;
}

#btn_theme_valider {
  margin : 10px;
  width : 50px ;
  height : 50px;
  background : url("../valider.jpg")
  no-repeat center center;
}

#btn_theme_annuler {
  margin : 10px;
  width : 50px;
  height : 50px;
  background : url("../annuler.jpg")
  no-repeat center center;
}

.abonnement_rubrique div:nth-child(1n) {
  min-height : 30px;
  margin-top : 5px;
  text-align : left;
  display : grid;
  grid-template-columns : 1fr 1fr 8fr;
  grid-gap : 10px;
}

.abonnement_rubrique div:nth-child(1) { 
  grid-template-columns : 1fr 9fr;
}

#div_informationAdherent {
  grid-template-columns : 1fr;
}

.div_interieur_boite_adherent {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.salle_sousrubrique {
  min-height : 30px;
  margin-top : 5px;
  text-align : left;
  display : grid;
  grid-template-columns : 1fr 1fr;
  border-bottom : 2px solid #808080;
}

.salle_commentaire {
  text-align : left;
  font-size : 0.9em;
  white-space : pre;
}