body { 
  font-size 		: 1em;
  font-family		: Helvetica, Arial, Nimbus Sans, sans-serif;
  color 			: #000000;
  background-color  : #ebebeb;
  text-align 		: left; 
  margin 			: 0;
}

#abonnement-liste{
  width: 90%;
  height: 500px;
  margin-left: 5%;
  border: 1px solid black;
  overflow: auto;
}

table{
  width: 100%;
}

th{
  border: 1px blue solid;
}

/* titre */
.labeltitre {
  color 			: #ffffff;
  background-color  : #5b5b5b;
  font-weight 		: bold; 
  padding-top		: 0.4em;  
}

.labelerreur {
  font-size 		: 0.9em;
  color     		: #ff0000;
  font-style 		: italic;
  margin-left		: 10px;
  padding-top		: 0.5em;
}

.pnltravail {
  background-color  : #ffffff;
}
  
.pnldefaut, .pnltitre {
  background-color  : #ebebeb;
  text-align 		: left; 
}
.pnltitre {
  background-color  : #5b5b5b;
  color 			: #ffffff; 
  height			: 30px;
  padding-top		: 5px;
}

.pnlbouton {
  cursor			: pointer;
}

.pnlselection {
  background-color  : #5b5b5b;
  color 			: #ffffff; 
}

.pnlaction {
  margin 			: 10px;
  float 			: right;
}	


label {
  margin-top 		: 0.5em;
  font-size  		: 0.9em;
  text-align 		: right;
  margin-right		: 5px;
}
input {
  height			: 1.5em;
  border			: 1px solid #5b5b5b;
  color 			: #000000;
  font 				: inherit;
  font-size			: 1em;
  text-align		: left;
  margin-right		: 5px;
  padding-top		: 0.2em;
}

input[type=button] {
  cursor			: pointer;
  font-size			: 1.2em;
  border 			: none;
  background-color	: #00b0ff;
  color				: #000000;
}


input[type=button]:hover {
  background-color	: #0000ff;
  border 			: 1px solid #ffffff;
  color				: #ffffff;
}

input[type=button].btnalerte {
  background-color	: #ff7000;
}
input[type=button].btnalerte:hover {
  background-color	: #ff0000;
  border 			: 1px solid #ffffff;
  color				: #ffffff;
}
input[type=button].btninfo {
  background-color  : #00ff00;
}
input[type=button].btninfo:hover {
  background-color	: #00D000;
  border 			: 1px solid #ffffff;
  color				: #ffffff;
}

select {
  border			: solid 1px #00b0ff;
  margin			: 0;
  padding-left		: 15px;
  color				: #000000;
  cursor			: pointer;
  font-size			: 1.1em;
}
select option:hover {
  background-color	: #00b0ff; 
}











